[submodule "europass-cv"]
	path = europass-cv
	url = https://github.com/llde/europass-cv.git
[submodule "europasscv"]
	path = europasscv
	url = https://github.com/llde/europasscv.git
[submodule "EuropeCV"]
	path = EuropeCV
	url = https://github.com/llde/EuropeCV.git
[submodule "moderncv"]
	path = moderncv
	url = https://github.com/llde/moderncv
